<div class="row" id="<%=@task.id.to_s%>">
  <div class="col-3"><%=@task.id%></div>
  <div class="col-3"> <p><%= @task.description%> <p></div>
  <div class="col-3"> <a  class="ajax" href= <%= task_path(@task)%> > <%= fa_icon  @task.done ? "window-close" : "check-circle"%> </a></div>
  <div class="col-3">
    <%= link_to task_path(@task),:action => :update, :method => :put, :remote => true do%>
      <%= fa_icon  "adjust"%>
    <% end %>
  </div>
</div>
